In [2]:
import pandas as pd

In [ ]:
from ydata_profiling import ProfileRreport

In [3]:
df = pd.read_csv("data_original\historico_velocidad_internet.csv")
df

     Año  Trimestre Mbps (Media de bajada)    Trimestre.1
0   2022          3                  62,46  Jul-Sept 2022
1   2022          2                  58,44   Abr-Jun 2022
2   2022          1                  55,11   Ene-Mar 2022
3   2021          4                  52,34   Oct-Dic 2021
4   2021          3                  48,46  Jul-Sept 2021
5   2021          2                  45,63   Abr-Jun 2021
6   2021          1                  43,11   Ene-Mar 2021
7   2020          4                  42,36   Oct-Dic 2020
8   2020          3                  40,67  Jul-Sept 2020
9   2020          2                  38,32   Abr-Jun 2020
10  2020          1                  37,52   Ene-Mar 2020
11  2019          4                  28,26   Oct-Dic 2019
12  2019          3                  24,18  Jul-Sept 2019
13  2019          2                  20,33   Abr-Jun 2019
14  2019          1                  17,38   Ene-Mar 2019
15  2018          4                  15,95   Oct-Dic 2018
16  2018          3                  15,36  Jul-Sept 2018
17  2018          2                  13,85   Abr-Jun 2018
18  2018          1                  13,22   Ene-Mar 2018
19  2017          4                  12,01   Oct-Dic 2017
20  2017          3                   8,34  Jul-Sept 2017
21  2017          2                   7,16   Abr-Jun 2017
22  2017          1                   6,62   Ene-Mar 2017
23  2016          4                   6,34   Oct-Dic 2016
24  2016          3                   5,94  Jul-Sept 2016
25  2016          2                   5,42   Abr-Jun 2016
26  2016          1                   5,08   Ene-Mar 2016
27  2015          4                   4,99   Oct-Dic 2015
28  2015          3                   4,79  Jul-Sept 2015
29  2015          2                   4,55   Abr-Jun 2015
30  2015          1                   4,35   Ene-Mar 2015
31  2014          4                   4,16   Oct-Dic 2014
32  2014          3                   3,87  Jul-Sept 2014
33  2014          2                   3,76   Abr-Jun 2014
34  2014          1                   3,62   Ene-Mar 2014

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     int64
 1   Trimestre               35 non-null     int64
 2   Mbps (Media de bajada)  35 non-null     object
 3   Trimestre.1             35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [5]:
prof = ProfileReport(df)

NameError: name 'ProfileReport' is not defined