In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_original/Internet_BAF (1).csv")
df

     AÃ±o  Trimestre Banda ancha fija  Dial up       Total        Periodo
0   2022          3       11.078.691   12.437  11.091.128  Jul-Sept 2022
1   2022          2       10.946.248   12.436  10.958.684   Abr-Jun 2022
2   2022          1       10.611.390   12.619  10.624.009   Ene-Mar 2022
3   2021          4       10.476.933   12.861  10.489.794   Oct-Dic 2021
4   2021          3       10.075.184   10.357  10.085.541  Jul-Sept 2021
5   2021          2        9.852.702   10.382   9.863.084   Abr-Jun 2021
6   2021          1        9.637.956   10.016   9.647.972   Ene-Mar 2021
7   2020          4        9.561.546   10.016   9.571.562   Oct-Dic 2020
8   2020          3        9.346.183   10.016   9.356.199  Jul-Sept 2020
9   2020          2        9.021.040   10.016   9.031.056   Abr-Jun 2020
10  2020          1        8.802.435    9.991   8.812.426   Ene-Mar 2020
11  2019          4        8.783.053   10.128   8.793.181   Oct-Dic 2019
12  2019          3        9.142.891   21.793   9.164.684  Jul-Sept 2019
13  2019          2        8.938.427   21.754   8.960.181   Abr-Jun 2019
14  2019          1        8.626.323   21.812   8.648.135   Ene-Mar 2019
15  2018          4        8.451.841   21.814   8.473.655   Oct-Dic 2018
16  2018          3        8.320.223   26.812   8.347.035  Jul-Sept 2018
17  2018          2        8.083.533   26.911   8.110.444   Abr-Jun 2018
18  2018          1        8.009.981   27.072   8.037.053   Ene-Mar 2018
19  2017          4        7.842.778   27.444   7.870.222   Oct-Dic 2017
20  2017          3        7.696.594   28.349   7.724.943  Jul-Sept 2017
21  2017          2        7.401.134   28.530   7.429.664   Abr-Jun 2017
22  2017          1        7.277.314   28.540   7.305.854   Ene-Mar 2017
23  2016          4        7.223.128   28.545   7.251.673   Oct-Dic 2016
24  2016          3        7.178.340   28.610   7.206.950  Jul-Sept 2016
25  2016          2        7.097.604   32.475   7.130.079   Abr-Jun 2016
26  2016          1        6.874.704   32.652   6.907.356   Ene-Mar 2016
27  2015          4        6.952.289   32.542   6.984.831   Oct-Dic 2015
28  2015          3        6.902.267   32.801   6.935.068  Jul-Sept 2015
29  2015          2        6.783.279   32.909   6.816.188   Abr-Jun 2015
30  2015          1        6.699.714   38.018   6.737.732   Ene-Mar 2015
31  2014          4        6.559.172   39.324   6.598.496   Oct-Dic 2014
32  2014          3        6.559.264   36.007   6.595.271  Jul-Sept 2014
33  2014          2        6.428.329   36.139   6.464.468   Abr-Jun 2014
34  2014          1        6.362.108   36.290   6.398.398   Ene-Mar 2014