In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_original\Internet_Penetracion.csv")
df

      Año  Trimestre            Provincia  Accesos por cada 100 hab
0    2022          3         Buenos Aires                        26
1    2022          3      Capital Federal                        50
2    2022          3            Catamarca                        17
3    2022          3                Chaco                        12
4    2022          3               Chubut                        26
..    ...        ...                  ...                       ...
835  2014          1           Santa Cruz                         9
836  2014          1             Santa Fe                        15
837  2014          1  Santiago Del Estero                         4
838  2014          1     Tierra Del Fuego                        19
839  2014          1              Tucumán                         8

[840 rows x 4 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       840 non-null    int64
 1   Trimestre                 840 non-null    int64
 2   Provincia                 840 non-null    object
 3   Accesos por cada 100 hab  840 non-null    int64
dtypes: int64(3), object(1)
memory usage: 26.4+ KB